# Ignore files related to GMSH and GETDP that we don't want to commit
homework-*/*.db
homework-*/*.msh
homework-*/*.pre
homework-*/*.res
homework-*/*.msh
homework-*/*.txt
homework-*/*.pos
homework-*/*.geo_unrolled
homework-*/example/
!homework-*/example/*.geo
!homework-*/example/*.pro

# Ignore files related to LaTex reports
report*.log
report*.aux
report*.out
report*.pdf

# Python-related
*.pyc
